BODY {
    background-color: green;
}

h1 {
    color: olive;
    text-align: center;
    position: relative;

}

p {
    position: relative;
    font-family: verdana;
    font-size: 20px;
    margin-left:200px;

    
}





/* The sidebar menu */
.sidebar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 100px; /* Set the width of the sidebar */
    position: relative; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: black;
    margin-left: 82px;
    overflow-x: hidden; /* Disable horizontal scroll */
}

.sidebar a:hover {
    color: red;
}

th, td {
    color: black;
    position: relative;
    border: 1px solid #ddd;
    padding: 8px;

   
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ffc12c;
    color: black;
}

table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    position: relative;
    border-collapse: collapse;
   /* margin-left:150px; display: inline-block;  width: 100%; border-collapse: collapse; */ /* moves table to the right*/
}

form {
    display: inline-block;
}

tr:nth-child(even){background-color: #f2f2f2;}
tr:nth-child(even){background-color: white;}
tr:hover {background-color: #ddd;}

/*

.search_bar input[type="text"] {
    position:absolute;
    left:20%;
    top:25%;
    width:30px;
    background-color:white;
    color:grey;
}

.searchbar {
  overflow: hidden;
  background-color: #e9e9e9;
}

.searchbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.searchbar a:hover {
  background-color: #ddd;
  color: black;
}

.searchbar a.active {
  background-color: #2196F3;
  color: white;
}

.searchbar input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  font-size: 17px;
}
*/
